<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <title>Личный кабинет</title>
</head>
<body>
{% block content %}

    <!--Привет, {{ user.username }}!-->
    <form method="post">{% csrf_token %}
        <!--<div><input id="id_file_title" name="file_title" type="text"-->
                    <!--onFocus="checkFocus(this, 'file_title')" onBlur="checkBlur(this, 'file_title')" /></div>-->

        <input type="file">

        <div><input class="btn btn-primary btn-small" type="submit" value="upload it"/></div>

    </form>

    {% if form.my_file %}
        <p>{{ form.my_file.name }} successfully downloaded</p>
    {% endif %}

{% endblock content %}
</body>
</html>